.modal .modal-dialog {
  width: 422px;
  margin-top: 200px;
}
.modal .modal-header {
  font-size: 18px;
  padding: 15px 15px 10px;
  border-bottom: none;
}
.modal .modal-body {
  padding: 10px 15px;
}
.modal .modal-body .glyphicon-ok-sign {
  color: #5cb85c;
}
.modal .modal-body .glyphicon-remove-sign {
  color: #d9534f;
}
.modal .modal-body .glyphicon {
  font-size: 24px;
}
.modal .modal-body .modal-text {
  font-size: 14px;
  color: #606266;
  line-height: 24px;
  margin-left: 5px;
}
.modal .modal-footer {
  border: none;
  padding: 5px 15px 10px 15px;
}
.modal .modal-footer .btn {
  width: 100px;
  background-color: #409eff;
  border: 1px solid #409eff;
  color: #fff;
}
.modal .modal-footer .btn:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
.navbar {
  margin-bottom: 0;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 24px;
  font-style: italic;
}
.navbar-inverse .navbar-brand span {
  font-size: 16px;
  margin-right: 5px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #00a8ff;
  text-decoration: underline;
}
.navbar-default .navbar-nav > li > a {
  line-height: 38px;
  font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #efeeee;
  color: #00a8ff;
}
.tooltip img {
  width: 100px;
}
.AccordionMenu .panel-heading {
  padding: 0;
}
.AccordionMenu .panel-heading a {
  font-size: 14px;
  color: #337ab7!important;
  display: inline-block;
  padding: 10px 15px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  height: 40px;
  line-height: 20px;
  transition: all 0.2s ease;
}
.AccordionMenu .panel-heading a:hover {
  color: #23527c!important;
  background: #e7e7e7;
  transition: all 0.2s ease;
}
.AccordionMenu .panel-collapse .list-group .list-group-item {
  padding: 0;
}
.AccordionMenu .panel-collapse .list-group .list-group-item a {
  font-size: 14px;
  color: #337ab7!important;
  display: inline-block;
  padding: 10px 15px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  padding-left: 40px;
}
.AccordionMenu .panel-collapse .list-group .list-group-item a:hover {
  color: #fff!important;
  background: #337ab7;
  transition: all 0.2s ease;
}
footer {
  background-color: #f8f8f8;
  padding: 30px 0px;
  margin-top: 20px;
}
footer .container {
  padding: 0px 30px;
}
